:root {
  --yellow: #f5c32c;
  --orange: rgb(255, 119, 7);
  --darkBlue: #242d49;
  --gray: #788097;
  --blue: rgba(75, 192, 192, 1);
  --purple: rgb(238 210 255);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  line-height: 1.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  color: var(--orange) !important;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.color-orange {
  color: var(--orange);
}

.bg-orange {
  background-color: var(--orange);
}

.font-size-24 {
  font-size: 24px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-14 {
  font-size: 14px;
}

.warning {
  color: red;
  font-style: italic;
}

.button-submit {
  width: 120px;
  height: 44px;
  border-radius: 8px;
  margin-left: 12px;
  border: 0;
}

.button-submit:hover {
  background-color: var(--yellow);
  transition: 0.3s ease-in-out;
}

.color-white {
  color: white;
}
